[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
watchdog = "*"
argh = "*"
pyyaml = "*"

[packages]
flask = "*"
dnspython = "*"
boto3 = "*"
flask-caching = "*"
requests = "*"

[requires]
python_version = "3.8"

[scripts]
python = "python"
app = "python -m app"
lint = "pylint app"
deploy = "npx serverless deploy"
sls = "npx serverless"
